@media screen and (max-width:1024px) {
    .ClimaTempo {
        grid-row-gap: 2em;

        .content {
            flex-direction: column-reverse;
            grid-row-gap: 3.5em;

            .dados {
                width: -webkit-fill-available;

                .infos-adicionais {
                    display: flex;
                    flex-direction: column;
                    grid-row-gap: 1em;

                    .subgrup-one {
                        flex-direction: column;
                    }

                    // .subgrup-three {


                    //     .humidade,
                    //     .vento-velocidade,
                    //     .vento-direcao,
                    //     .sunrise,
                    //     .sunset {

                    //     }
                    // }
                }
                
            }
            .calendar {
                display: none;
            }
        }


    }
}